@import url("https://fonts.googleapis.com/css?family=Orbitron:500");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  color: #d7ecff;
  background: #0f1516;
  font-family: Lato, 'Open Sans', sans-serif;
}
@media (max-width: 33.9em) {
  body {
    font-size: 0.7em;
  }
}
.bg-gradient {
  background: #192224;
  background: -moz-linear-gradient(top, #192224 0%, #21728b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #192224), color-stop(100%, #21728b));
  background: -webkit-linear-gradient(top, #192224 0%, #21728b 100%);
  background: -o-linear-gradient(top, #192224 0%, #21728b 100%);
  background: -ms-linear-gradient(top, #192224 0%, #21728b 100%);
  background: linear-gradient(to bottom, #192224 0%, #21728b 100%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -2;
}
.bg-pattern {
  background: url("../img/bg-pattern.png") repeat;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
a,
a:link,
a:visited,
a:active {
  color: #d7ecff;
  cursor: pointer;
  transition: text-shadow 0.3s ease, border-bottom-color 0.5s ease;
  text-decoration: none;
}
.btn {
  color: #113a47;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  background: #d7ecff;
}
.btn:hover {
  background: #b1daff;
  transition: all 0.3s ease;
}
.btn:active {
  background: #62b4ff;
}
.push {
  height: 150px;
}
@media (max-width: 33.9em) {
  .push {
    height: 60px;
  }
}
section.activities .item.activity {
  display: block;
  border: solid 1px rgba(255,255,255,0.4);
  padding: 3px;
  margin-bottom: 1rem;
}
section.activities .item.activity:hover {
  background-color: rgba(255,255,255,0.1);
}
section.activities .item.activity .ibox {
  border-left: solid 6px rgba(215,236,255,0.6);
  background-color: rgba(255,255,255,0.1);
  position: relative;
}
section.activities .item.activity .code {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-bottom: dashed 1px rgba(215,236,255,0.5);
  font-size: 24px;
  font-family: "Orbitron", sans-serif;
  display: flex;
  align-items: flex-end;
}
section.activities .item.activity .code span.c {
  position: relative;
  top: 4.800000000000001px;
  flex: 1;
}
section.activities .item.activity .code span.state {
  font-size: 16px;
  font-family: "Orbitron", sans-serif;
}
section.activities .item.activity .code span.state.incoming {
  border-color: #ffcb50;
  color: #ffcb50;
}
section.activities .item.activity .code span.state.completed {
  border-color: #d7ecff;
  opacity: 0.5;
}
section.activities .item.activity .info {
  padding: 0.5rem 1rem;
  font-size: 16px;
  opacity: 0.6;
}
section.activities .item.activity .info .date {
  font-family: "Orbitron", sans-serif;
}
.activity-page section {
  margin-bottom: 6rem !important;
}
.activity-page section h3 {
  text-align: center;
  margin-bottom: 3rem;
}
.activity-page section h3 .cn {
  font-size: 24px;
  margin-bottom: 1rem;
  font-weight: normal;
}
.activity-page section h3 .en {
  font-size: 24px;
  opacity: 0.6;
}
.activity-page section.base {
  margin-top: 6rem;
  text-align: center;
}
.activity-page section.base .title {
  margin-bottom: 5rem;
}
.activity-page section.base .title h1 {
  font-size: 96px;
  line-height: 96px;
  margin-bottom: 0rem;
  text-shadow: 0 0 20px #01b0ff, 0 0 10px #fff;
}
.activity-page section.base .title .name,
.activity-page section.base .title .date {
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  opacity: 0.6;
  margin-bottom: 0.5rem;
}
.activity-page section.base .title .name span.gap,
.activity-page section.base .title .date span.gap {
  margin: 0 0.5rem;
  opacity: 0.5;
}
.activity-page section.base .title .state,
.activity-page section.base .title .state.completed {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.activity-page section.base .title .state .st,
.activity-page section.base .title .state.completed .st {
  padding: 1rem 0 0.5rem;
  border-top: solid 3px #d7ecff;
  border-bottom: solid 3px #d7ecff;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  line-height: 30px;
  opacity: 0.5;
}
.activity-page section.base .title .state.incoming .st {
  border-top: solid 3px rgba(255,203,80,0.8);
  border-bottom: solid 3px rgba(255,203,80,0.8);
  color: #ffcb50;
  opacity: 1;
  text-shadow: 0 0 20px #ffcb50;
}
.activity-page section.base .title .logohtml {
  margin-top: 4rem;
}
.activity-page section.base .cover {
  margin: 0 auto;
  width: 80%;
  border: solid 1px rgba(255,255,255,0.4);
  padding: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
.activity-page section.base .cover .bbox {
  background-color: rgba(0,0,0,0.3);
}
.activity-page section.base .cover .post-content-markdown {
  padding: 1rem;
  background-color: rgba(0,0,0,0.3);
}
.activity-page section.base .cover .cc {
  background-color: rgba(0,0,0,0.3);
}
.activity-page section.base .cover img {
  width: 100%;
}
.activity-page section.intro .freehtml {
  margin-left: -3px;
  margin-right: -3px;
  margin-bottom: 3px;
}
.activity-page section.intro .introc {
  border: solid 1px rgba(255,255,255,0.4);
  padding: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
.activity-page section.intro .introc .bbox {
  background-color: rgba(0,0,0,0.3);
}
.activity-page section.intro .introc .post-content-markdown {
  padding: 1rem;
  background-color: rgba(0,0,0,0.3);
}
.activity-page section.video .video-player {
  border: solid 1px rgba(255,255,255,0.4);
  padding: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  margin: 0 auto;
  width: 100%;
  display: flex;
}
.activity-page section.video .video-player .bbox {
  background-color: rgba(0,0,0,0.3);
}
.activity-page section.video .video-player .post-content-markdown {
  padding: 1rem;
  background-color: rgba(0,0,0,0.3);
}
.activity-page section.video .video-player .box {
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  overflow: hidden;
}
.activity-page section.video .video-player .box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.activity-page .activity-runners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.activity-page .activity-schedule {
  border: solid 1px rgba(255,255,255,0.4);
  padding: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
.activity-page .activity-schedule .bbox {
  background-color: rgba(0,0,0,0.3);
}
.activity-page .activity-schedule .post-content-markdown {
  padding: 1rem;
  background-color: rgba(0,0,0,0.3);
}
.activity-page .activity-schedule table {
  margin-bottom: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
  font-size: 14px;
}
.activity-page .activity-schedule table th,
.activity-page .activity-schedule table td {
  border: 0 none;
}
.activity-page .activity-schedule table td {
  box-sizing: content-box;
  height: 42px;
  padding: 6px;
  line-height: 21px;
}
.activity-page .activity-schedule table th {
  padding: 6px;
  color: #ffcb50;
}
.activity-page .activity-schedule table td.applying {
  line-height: 42px;
  text-align: center;
}
.activity-page .activity-schedule table td.applying i.fa {
  margin-right: 0.5rem;
}
.activity-page .activity-schedule table th.game {
  padding-left: 12px;
}
.activity-page .activity-schedule table td.name .infobox {
  display: flex;
  align-items: center;
}
.activity-page .activity-schedule table td.name .infobox img {
  width: 42px;
  height: 42px;
  border-radius: 6px;
}
.activity-page .activity-schedule table td.name .infobox .info {
  margin-left: 6px;
}
.activity-page .activity-schedule table td.name .infobox .info .oname {
  opacity: 0.6;
  font-size: 14px;
}
.activity-page .activity-schedule table td.start .date {
  font-size: 14px;
  opacity: 0.6;
}
.activity-page .activity-schedule table td.rule .sub {
  opacity: 0.6;
}
.activity-page .activity-schedule table td.video a.bilibili {
  color: #6fa2f7;
  border-bottom: dashed 1px #6fa2f7;
}
.activity-page .activity-schedule table td.video a.bilibili:hover {
  color: #8cb5f9;
}
.activity-page .activity-schedule table td.video a.bilibili i.fa {
  margin-right: 3px;
}
.activity-page .activity-schedule table td.video .realtime {
  opacity: 0.6;
}
.activity-page .activity-schedule.entry-form table td {
  height: auto;
}
.activity-page .discuss {
  text-align: center;
}
.activity-page .discuss a {
  border-radius: 100px;
  padding: 1rem 2rem;
  background-color: rgba(255,255,255,0.2);
  font-size: 24px;
}
.activity-page .discuss a:hover {
  background-color: rgba(255,255,255,0.4);
}
.activity-page .discuss a i {
  margin-right: 1rem;
}
.item.runner {
  display: block;
  width: 150px;
  height: 150px;
  background-color: rgba(255,255,255,0.1);
  margin-right: 12px;
  margin-bottom: 12px;
  transition: background-color 0.3s;
  border-radius: 6px;
}
.item.runner:hover {
  background-color: rgba(255,255,255,0.2);
}
.item.runner .cover {
  width: 150px;
  padding: 18px 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item.runner .cover img {
  max-width: 60px;
  max-height: 60px;
  border-radius: 60px;
}
.item.runner .info {
  text-align: center;
}
.item.runner .info .nickname {
  font-size: 14px;
  opacity: 0.6;
}
section.games {
  display: flex;
  flex-wrap: wrap;
}
section.games .item.game {
  width: 312px;
  height: 90px;
  background-color: rgba(255,255,255,0.1);
  margin-right: 12px;
  margin-bottom: 12px;
  transition: background-color 0.3s;
  display: flex;
}
section.games .item.game:hover {
  background-color: rgba(255,255,255,0.2);
}
section.games .item.game .cover {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.games .item.game .cover img {
  max-width: 90px;
  max-height: 90px;
}
section.games .item.game .info {
  padding: 12px;
  font-family: "Orbitron", sans-serif;
}
section.games .item.game .info .name {
  font-size: 14px;
  opacity: 0.6;
}
.index-blogs .blog {
  margin-bottom: 1rem;
  border: solid 1px rgba(255,255,255,0.4);
  padding: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
.index-blogs .blog .title {
  padding: 0.5rem 1rem;
  background-color: rgba(0,0,0,0.2);
  margin-bottom: 0;
  border-bottom: dashed 1px rgba(215,236,255,0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.index-blogs .blog .title .t {
  font-size: 24px;
  flex: 1;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.index-blogs .blog .title .t::before {
  content: '';
  width: 30px;
  height: 30px;
  background: url("http://img4ye.oss-cn-hangzhou.aliyuncs.com/tna/utils/celeste-strawberry.png") no-repeat;
  background-size: cover;
  margin-right: 0.5rem;
  position: relative;
}
.index-blogs .blog .title .d {
  font-size: 16px;
  opacity: 0.6;
  margin-left: 36px;
  font-family: "Orbitron", sans-serif;
}
.index-blogs .blog .bbox {
  background-color: rgba(0,0,0,0.3);
}
.index-blogs .blog .post-content-markdown {
  padding: 1rem;
  background-color: rgba(0,0,0,0.3);
}
.post-content-markdown {
  font-size: 1rem;
}
.post-content-markdown a {
  color: #6fa2f7;
  border-bottom: dashed 1px #6fa2f7;
}
.post-content-markdown a:hover {
  color: #8cb5f9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light {
  text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 15px #228dff;
}
h1 i,
h2 i,
h3 i,
h4 i,
h5 i,
h6 i {
  margin-right: 1rem;
  opacity: 0.6;
}
h1.tfont,
h2.tfont,
h3.tfont,
h4.tfont,
h5.tfont,
h6.tfont {
  font-family: "Orbitron", sans-serif;
}
h3 span.sub {
  opacity: 0.6;
  font-size: 16.8px;
}
a.link {
  color: #6fa2f7;
  border-bottom: dashed 1px #6fa2f7;
}
a.link:hover {
  color: #8cb5f9;
}
.titlefont {
  font-family: "Orbitron", sans-serif;
}
body.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body.site .header {
  border: solid 1px rgba(255,255,255,0.4);
  padding: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  border-width: 0 0 1px 0;
  padding: 0 0 3px 0;
}
body.site .header .bbox {
  background-color: rgba(0,0,0,0.3);
}
body.site .header .post-content-markdown {
  padding: 1rem;
  background-color: rgba(0,0,0,0.3);
}
body.site .header .bbox {
  height: 48px;
  background-color: rgba(0,0,0,0.3);
}
body.site .header .bbox.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
body.site .header .bbox.center h5 {
  margin-top: 3px;
  margin-bottom: 0;
  line-height: 1;
}
body.site .footer {
  border: solid 1px rgba(255,255,255,0.4);
  padding: 3px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  border-width: 1px 0 0 0;
  padding: 3px 0 0 0;
}
body.site .footer .bbox {
  background-color: rgba(0,0,0,0.3);
}
body.site .footer .post-content-markdown {
  padding: 1rem;
  background-color: rgba(0,0,0,0.3);
}
body.site .footer .bbox {
  height: 48px;
  background-color: rgba(0,0,0,0.3);
}
body.site .footer .bbox.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
body.site .footer .bbox.center h5 {
  margin-top: 3px;
  margin-bottom: 0;
  line-height: 1;
}
body.site .container {
  padding-top: 2rem;
  position: relative;
  flex: 1;
}
body.site .container section {
  margin-bottom: 2rem;
}
body.site .container.index-page section.activities h3,
body.site .container.index-page section.recently h3 {
  display: flex;
  align-items: flex-end;
}
body.site .container.index-page section.activities h3::before,
body.site .container.index-page section.recently h3::before {
  content: '';
  width: 38.57px;
  height: 38.57px;
  background: url("http://img4ye.oss-cn-hangzhou.aliyuncs.com/tna/utils/celeste-blue-heart.png") no-repeat;
  background-size: cover;
  margin-right: 0.5rem;
  position: relative;
}
body.site .container.index-page section.activities h3 .sub,
body.site .container.index-page section.recently h3 .sub {
  margin-left: 0.5rem;
  position: relative;
}
body.site .container.index-page h3 {
  margin-bottom: 2rem;
}
