-
  shows = site.posts
    .filter(x => x.class === 'Show')
    .filter(x => x._activity === activity.id)
    .filter(x => !!x._runner || !!x._runners)

  shows.data = shows.data.sort((a, b) => Date.parse(a.start_at) - Date.parse(b.start_at))

  runnerShows = {}
  ppp = sr => {
    let runner = Model(site).one('Runner', (x) => x.name === sr)

    runnerShows[sr] = runnerShows[sr] || {
      runner: runner,
      shows: []
    }
    runnerShows[sr].shows.push(s)
  }


  shows.forEach (s => {
    if (s._runner) {
      ppp(s._runner)
    }

    if (s._runners) {
      for (let _sr of s._runners) {
        ppp(_sr)
      }
    }
  })

.activity-runners
  - if (Object.keys(runnerShows).length > 0)
    - Object.keys(runnerShows).forEach(x => {
      - o = runnerShows[x]
      - runner = o.runner
      - if (runner)
        != partial('_item/RunnerItem', { item: runner })
    - })
  - else
    .applying= activity.runners_blank