@import "_variables"
@import "_base"
@import "_class/_activity"
@import "_class/_runner"
@import "_class/_game"

$hh = 120px
.header
  height $hh

.container
  position relative
  .goback
    text-shadow $commonTextShadow
    font-family: $fontTitle
    position absolute
    top - $hh
    height $hh
    display flex
    align-items center
    i
      margin-right 18px
      opacity 0.6
    a
      transition: text-shadow 0.3s ease
    a:hover
      text-shadow $titleTextShadowLight

  .main
    display flex
    
    .leftc
      flex 1
      padding-right 12px * 4

    .leftc, .rightc
      h3
        // color $goldenColor
        text-shadow $commonTextShadow
        margin-bottom 2rem
        font-family: $fontTitle
        i
          margin-right 1rem
          opacity 0.6

      section
        margin-bottom 2rem