@import "_variables"
@import "_base"
@import "_class/_activity"
@import "_class/_runner"
@import "_class/_game"
@import "_content"

h1, h2, h3, h4, h5, h6
  font-weight 300
  font-family $fontTitle
  &.light
    text-shadow $titleTextShadow
  i
    margin-right 1rem
    opacity 0.6
    
a.link
  link()
  
.titlefont
  font-family $fontTitle

$hh = 144px
.header
  height $hh
  background-color rgba($mainColor1, 0.05)
  // border-bottom solid 1px rgba(white 0.2)
  box-shadow 0 0 20px rgba(black, 0.5)

.container
  padding-top 2rem
  position relative
  
  section
    margin-bottom 2rem
  
  // .site
  //   position absolute
  //   top - $hh
  //   height $hh
  //   display flex
  //   align-items center

  //   .logo
  //     margin-right 2rem
  //     img
  //       height 72px
  //       width auto
  //   .title
  //     text-shadow $commonTextShadow
  //     font-family: $fontTitle
  //     display flex
  //     justify-content center
  //     flex-direction column
  //     .desc
  //       opacity 0.6
  //       margin-bottom 0

  // .goback
  //   text-shadow $commonTextShadow
  //   font-family: $fontTitle
  //   position absolute
  //   top - $hh
  //   height $hh
  //   display flex
  //   align-items center
  //   i
  //     margin-right 18px
  //     opacity 0.6
  //   a
  //     transition: text-shadow 0.3s ease
  //   a:hover
  //     text-shadow $titleTextShadowLight