@import "_variables"
@import "_base"

.header
  height 100px

.container
  h3
    // color $goldenColor
    text-shadow $commonTextShadow
    margin-bottom 2rem
    i
      margin-right 1rem
      opacity 0.6

  section
    margin-bottom 2rem
    
  .game
    img.cover
      width 200px
      
$w = 120px
section.games
  display flex
  flex-wrap wrap
  .item.game
    width 2.5 * $w
    height $w
    background-color rgba(white, 0.1)
    margin-right 12px
    margin-bottom 12px
    transition background-color 0.3s
    display flex
    &:hover
      background-color rgba(white, 0.2)

    $cw = $w
    .cover
      width $w
      height $w
      display flex
      align-items center
      justify-content center
      img
        max-width $cw
        max-height $cw 
    .info
      padding 12px        
      .name
        font-size 14px
        opacity 0.6
        
section.runners
  display flex
  flex-wrap wrap
  .item.runner
    width 2.5 * $w
    height $w
    background-color rgba(white, 0.1)
    margin-right 12px
    margin-bottom 12px
    transition background-color 0.3s
    display flex
    &:hover
      background-color rgba(white, 0.2)
      
    $cw = $w
    .cover
      width $w
      height $w
      display flex
      align-items center
      justify-content center
      img
        max-width $cw
        max-height $cw 
    .info
      padding 12px
      .nickname
        font-size 14px
        opacity 0.6
