.index-blogs
  .blog
    margin-bottom 1rem
    .title
      padding 0.5rem 1rem
      background-color rgba(black, 0.2)
      margin-bottom 0
      border-bottom dashed 1px rgba($mainColor1, 0.5)
      display flex
      flex-wrap wrap
      align-items flex-end
      // font-weight 300
      .t
        font-size 24px
        flex 1
        display flex
        align-items center
        white-space nowrap
        &::before
          content ''
          width 32px
          height 32px
          background url('http://img4ye.oss-cn-hangzhou.aliyuncs.com/tna/utils/celeste-strawberry.png') no-repeat
          // 64 x 64 4px/pixel
          background-size cover
          margin-right 0.5rem
          position relative
      .d
        font-size 16px
        // margin-top 16px * 0.3
        opacity 0.6
        margin-left 32px + 8px
        font-family $fontTitle
    borderBox()
    
  .blog.top .title .t::before
    background url('http://img4ye.oss-cn-hangzhou.aliyuncs.com/tna/utils/celeste-strawberry-gold.png') no-repeat
    // 64 x 64 4px/pixel
    background-size cover
      