.index-blogs
  .blog
    margin-bottom 1rem
    .title
      padding 1rem
      background-color rgba(black, 0.2)
      margin-bottom 0
      border-bottom dashed 1px rgba($mainColor1, 0.5)
      display flex
      align-items center
      &::before
        content ''
        width 28px
        height 28px
        background url('http://img4ye.oss-cn-hangzhou.aliyuncs.com/tna/utils/celeste-strawberry.png') no-repeat
        background-size cover
        margin-right 0.5rem
        position relative
        top -2px
        border-radius 100px
        box-shadow 0 0 10px black
      .t
        flex 1
      .d
        font-size 18px
        opacity 0.6
    borderBox()
      