$w = 150px 
$cw = 60px

// section.runners
//   display flex
//   flex-wrap wrap

.item.runner
  display block
  width $w
  height $w
  background-color rgba(white, 0.1)
  margin-right 12px
  margin-bottom 12px
  transition background-color 0.3s
  border-radius 6px
  &:hover
    background-color rgba(white, 0.2)
    
  .cover
    width $w
    padding 18px 0 12px
    display flex
    align-items center
    justify-content center
    img
      max-width $cw
      max-height $cw 
      border-radius $cw
  .info
    // font-family: $fontTitle
    text-align center
    .nickname
      font-size 14px
      opacity 0.6
      
.runners-page
  margin-bottom 2rem
  h3
    // text-align center
    margin-bottom 1rem
  .tbox
    borderBox()
  
  $avatarw = 32px
  table
    td .tdi
      display flex
      align-items center
      min-height $avatarw
    td.runner
      img.avatar
        width $avatarw
        height $avatarw
        border-radius 100px
        margin-right 0.5rem
    td.liveroom
      span.site
        display flex
        align-items center
      span.site
        &::before
          content ''
          width 32px
          height 32px
          background-size cover
          background-repeat no-repeat
          background-image url('http://img4ye.oss-cn-hangzhou.aliyuncs.com/tna/sites/huya.png')
          margin-right 0.5rem
        &.huya::before
          background-image url('http://img4ye.oss-cn-hangzhou.aliyuncs.com/tna/sites/huya.png')
        &.douyu::before
          background-image url('http://img4ye.oss-cn-hangzhou.aliyuncs.com/tna/sites/douyu.png')
        &.bilibili::before
          background-image url('http://img4ye.oss-cn-hangzhou.aliyuncs.com/tna/sites/bilibili.png')
        &.twitch::before
          background-image url('http://img4ye.oss-cn-hangzhou.aliyuncs.com/tna/sites/twitch.png')