$w = 150px 
$cw = 60px

// section.runners
//   display flex
//   flex-wrap wrap

.item.runner
  display block
  width $w
  height $w
  background-color rgba(white, 0.1)
  margin-right 12px
  margin-bottom 12px
  transition background-color 0.3s
  border-radius 6px
  &:hover
    background-color rgba(white, 0.2)
    
  .cover
    width $w
    padding 18px 0 12px
    display flex
    align-items center
    justify-content center
    img
      max-width $cw
      max-height $cw 
      border-radius $cw
  .info
    // font-family: $fontTitle
    text-align center
    .nickname
      font-size 14px
      opacity 0.6
      
.runners-page
  margin-bottom 2rem
  h3
    // text-align center
    margin-bottom 1rem
  .tbox
    borderBox()
  
  $avatarw = 32px
  table
    td .tdi
      min-height $avatarw
    td.runner
      overflow hidden
      .rr
        display flex
        align-items center
        span.name
          // color $linkColor
          // border-bottom dashed 1px $linkColor
        img.avatar
          width $avatarw
          height $avatarw
          border-radius 100px
          margin-right 0.5rem
          transition border-radius .3s ease, transform .3s ease
        // &:hover
        //   span.name
        //     color lighten($linkColor, 20%)
        //   img.avatar
        //     border-radius 0px
        //     transform rotate(720deg)          

.RunnerPage
  .runner-side, .runner-main
    height 100%
    borderBox()
    .bbox
      height 100%
  
  .runner-side
    .bbox
      background-color rgba(white, 0.1)
    .ritem
      padding 1rem
      display flex
      justify-content center
      border-bottom dashed 1px rgba($mainColor1, 0.5)
      .item
        // cursor default
        background-color transparent
        margin 0
    .rdetail
      padding 1rem
      .rd
        margin-bottom 1rem
        &:last-child
          margin-bottom 0
        .tag
          font-size 14px
          padding 3px 12px
          
  .runner-main
    .bbox
      background-color transparent
      display flex
      flex-direction column
      .rhead
        background-color rgba(black, 0.2)
        border-bottom dashed 1px rgba($mainColor1, 0.5)
        padding 0.5rem 1rem
        .t
          font-size 24px
      .rbody
        padding 1rem
        background-color rgba(black, 0.3)
        flex 1