-
  if (url) {
    site = url.match(/(huya|douyu|twitch|bilibili)/)[0]
    text = url.replace('https://', '').replace('www.', '')
  }

if url
  .site-link.liveroom-link
    span.site(class=site)
      .icon
      a.link.site(href=url, target='_blank')= text