-
  games = site.posts
    .filter(x => x.class === 'Game')
    .filter(x => x.display !== 'none')

  runners = site.posts
    .filter(x => x.class == 'Runner')
  runners.data = runners.data.sort((a, b) => a.name > b.name ? 1 : -1)

.main
  h3.goback
    a(href=url_for('/'))
      i.fa.fa-arrow-left
      span 返回 go back

  .leftc
    h3
      i.fa.fa-rocket
      span 活动 Activities
    section.activities
      != partial('_item/ActivityItem', { item: activity, showDetail: true })
      
  .rightc
    h3 
      i.fa.fa-gamepad
      span 游戏 Games
    section.games
      - games.forEach((item, index) => {
        != partial('_item/GameItem', { item })
      - })

    h3 
      i.fa.fa-user-circle-o
      span 玩家 Runners
    section.runners
      - runners.forEach((item, index) => {
        != partial('_item/RunnerItem', { item })
      - })