-
  activities = site.posts.filter(x => x.class == 'Activity')
  activities.data = activities.data
    .sort((a, b) => Date.parse(b.start_time) - Date.parse(a.start_time))

  games = site.posts
    .filter(x => x.class === 'Game')
    .filter(x => x.display !== 'none')

  runners = site.posts
    .filter(x => x.class == 'Runner')
  runners.data = runners.data.sort((a, b) => a.name > b.name ? 1 : -1)

  blogs = site.posts
    .filter(x => x.class === 'Blog')
  blogs.data = blogs.data
    .sort((a, b) => Date.parse(b.date) - Date.parse(a.date))

.header
  .bbox.center
    h5 
      a(href=url_for('/'))
        i.fa.fa-home
        span TNA Speedrun

.container.index-page
  .row
    .col-lg-4
      h3 
        i.fa.fa-rocket
        span 活动 Activities
      section.activities
        - activities.forEach((item, index) => {
          != partial('_item/ActivityItem', { item })
        - })
        
    .col-lg-8
      section.recently
        h3
          i.fa.fa-newspaper-o
          span 最近动态 Recently
        != partial('_item/IndexBlogs', { blogs })



      // section.games
      //   h3 
      //     i.fa.fa-gamepad
      //     span 游戏 Games
      //   section.games
      //     - games.forEach((item, index) => {
      //       != partial('_item/GameItem', { item })
      //     - })

      // h3 
      //   i.fa.fa-user-circle-o
      //   span 玩家 Runners
      // section.runners
      //   - runners.forEach((item, index) => {
      //     != partial('_item/RunnerItem', { item })
      //   - })

