- activities = Model(site).all('Activity')
- blogs = Model(site).all('Blog')

!= partial('_layout/header')
!= partial('_layout/index-header-mario')

.container.index-page
  .row
    .col-md-4
      section.activities
        h3
          span 活动 
          span.sub Activities
        != partial('_index/IndexActivities', { activities })
        
    .col-md-8
      section.recently
        h3
          span 最近动态 
          span.sub Recently
        != partial('_index/IndexBlogs', { blogs })
