-
  activities = page.posts.filter(x => x.class == 'Activity')
  activities.data = activities.data.sort((a, b) => b.start_time - a.start_time)

  games = page.posts
    .filter(x => x.class === 'Game')
    .filter(x => x.display !== 'none')

  runners = page.posts.filter(x => x.class == 'Runner')

h3 
  i.fa.fa-rocket
  span 活动 Activity
section.activity
  - activities.forEach((item, index) => {
    .item: a(href=url_for(item.path))= `${item.name} - ${date(item.start_time)}`
  - })

h3 
  i.fa.fa-gamepad
  span 游戏 Game
section.games
  - games.forEach((item, index) => {
    != partial('_item/GameItem', { item })
  - })

h3 
  i.fa.fa-user-circle-o
  span 玩家 Runner
section.runners
  - runners.forEach((item, index) => {
    != partial('_item/RunnerItem', { item })
  - })