if (page.class == 'Game')
  != partial('_class/Game', { game: page })
  
if (page.class == 'Runner')
  != partial('_class/Runner', { runner: page })

if (page.class === 'Activity')
  != partial('_class/ActivityPage', { activity: page })
