!= partial('_layout/header')

if (page.class == 'Game')
  != partial('_class/Game', { game: page })
  
else if (page.class == 'Runner')
  != partial('_class/Runner', { runner: page })

else if (page.class === 'Activity')
  != partial('_class/ActivityPage', { activity: page })

else if (page.specialPage === '404')
  != page.freehtml

else if (page.specialPage === 'changelog')
  .container
    != partial('_item/PostContent', { item: page })

else
  .container