.index-header.mario
  #stars
  #stars1
  #stars2
  .container
    .row
      .image.i1.col-lg-4.col-md-4
        //- img.mario-land(src='http://img4ye.oss-cn-hangzhou.aliyuncs.com/tna/utils/mario-land.png', style='width: auto; height: 12rem;')
        img(src='http://img4ye.oss-cn-hangzhou.aliyuncs.com/tna/activities/tna2-d7ecff.png', style='width: auto; height: 9rem;')
      .info.col-lg-3.col-md-4
        .title TNA
        .subtitle Together Not Alone
        .desc 中文圈游戏速通马拉松
      .image.i2.col-lg-4.col-md-4
        img.mario-land(src='http://img4ye.oss-cn-hangzhou.aliyuncs.com/tna/utils/mario-land.png', style='width: auto; height: 9rem;')

!= css('css/stars.css')